.container{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin-left: 5%;
  margin-right: 5%;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
 
}
.hr{
 width: 90%;
}

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
}
/* @media (min-width: 768px) {
  .content{
  width: 80%;

}
} */

h1,h4{
  text-align: center;
}


.three-sub{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.text{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 20%;
}

.both{
  width: 100%;
  display: flex;

}


.last{
  width: 90%;
}



